{% extends "base.html" %}
{% block content %}

<h1>Inventory</h1>
<form class="card-form-container" method="get">
    <input type="text" name="q" placeholder="Search make/model/VIN" value="{{ request.GET.q }}">
    <div class="search-actions">
        <select name="status">
        <option value="">Any</option>
        {% for key,label in object_list.model.Status.choices %}
            <option value="{{ key }}" {% if request.GET.status == key %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
        </select>
        <div class="inventory-action-btn">
            <button class="btn-primary" type="submit">Filter</button>
            <a href="{% url 'car-create' %}" class="btn-primary">Add Car</a>
        </div>
    </div>
</form>
<section class="cards">
    {% for car in object_list %}
    <a href="{% url 'car-detail' car.pk %}" class="card card-link">
        <h3>{{ car.year }} {{ car.make }} {{ car.model }}</h3>
        <p class="meta">
            VIN: <strong>{{ car.vin }}</strong> &nbsp;&bull;&nbsp;
            ${{ car.price }} &nbsp;&bull;&nbsp;
            <span class="status-{{ car.status }}">{{ car.get_status_display }}</span>
        </p>
    </a>
    {% empty %}
        <p class="meta">No cars yet.</p>
    {% endfor %}
</section>

{% endblock %}